.footer {
  background-color: var(--color-gray-20);
  color: var(--color-gray-98);
  font-size: var(--text-xs);
  padding: var(--size-s);
  width: 100%;
}

.footer a {
  text-decoration: underline;
}

.footer h3 {
  font-size: var(--text-xs);
  margin: 0;
}

.footer ul {
  list-style-type: none;
  margin: var(--size-m) 0 0 0;
  padding: 0;
}
.footer ul > li {
  margin-bottom: var(--size-s);
}
.footer ul > li:last-child {
  margin-bottom: 0;
}
.footer ul > li > span {
  display: block;
  margin-right: var(--size-s);
}

.footer > div:last-child {
  border-top: 1px solid white;
  margin-top: var(--size-l);
}

.author {
  margin-top: var(--size-l);
}

@media only screen and (min-width: 680px) {
  .footer {
    background-color: var(--color-gray-20);
    color: var(--color-gray-98);
    display: grid;
    font-size: var(--text-s);
    grid-gap: var(--size-s);
    grid-template-columns: 1fr 1fr;
    height: 133px;
    padding: var(--size-s);
    width: 100%;
  }
}