.container {
  padding: var(--size-m);
}

.title {
  text-align: center;
}

.mapContainer {
  align-items: flex-start;
  display: flex;
}

.infoContainer {
  flex: 1;
}

.map {
}

.citiesList {
  column-count: 3;
}