.container {
  padding: var(--size-s);
  padding-bottom: var(--size-l);
}

.title {
  font-size: var(--text-m);
  margin-top: 0;
  text-align: center;
}
.title > span:last-child {
  display: block;
}

.infoContainer {
  font-size: var(--text-s);
  width: 100%;
}
.infoContainer:first-child {
  margin-bottom: var(--size-m);
}

.infoTitleContainer {
  display: flex;
  flex-direction: column-reverse;
}
.infoTitleContainer > h3 {
  font-size: var(--text-s);
}

.searchField {
  margin: var(--size-m) 0 var(--size-l);
}
.searchField > span {
  margin-right: var(--size-s);
}

.map {
  display: block;
  margin: auto;
  max-height: 601px;
  max-width: 600px;
  width: 100%;
}

.citiesList {
  margin: 0;
  padding: var(--size-m);
}

.citiesList > li {
  break-inside: avoid-column;
  margin-bottom: var(--size-m);
}

.textHighlight {
  font-weight: bold;
  text-decoration: underline;
}

.firstParagraph,
.infoTitle,
.total {
  margin: 0;
}

.total {
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 680px) {
  .title > span:last-child {
    display: inline;
  }

  .infoContainer {
    font-size: var(--text-m);
  }

  .citiesList {
    column-count: 2;
    column-gap: var(--size-l);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    min-height: calc(100vh - 282px);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    min-height: calc(100vh - 282px);
    padding-top: 0;
  }

  .mainContainer {
    display: grid;
    grid-gap: var(--size-m);
    grid-template-columns: 1fr 1fr;
  }

  .infoTitleContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .searchField {
    margin: 0;
  }
}

@media only screen and (min-width: 1680px) {
  .citiesList {
    column-count: 3;
  }
}