:root {
  /** Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-soft-gray: #F3F3F3;

  /** Font sizes */
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;

  /** Sizes */
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;
}

html,
body {
  background-color: var(--color-soft-gray);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
