:root {
  /** Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-gray-98: #FAFAFA;
  --color-gray-20: #333333;

  /** Font sizes */
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;

  /** Sizes */
  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;

  --text-xs: 12px;
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 18px;
  --text-xl: 20px;
  --text-xxl: 22px;

  --breakpoint-xs: 320px;
  --breakpoint-s: 414px;
  --breakpoint-m: 680px;
  --breakpoint-l: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1680px;
}

html,
body {
  background-color: var(--color-gray-98);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.textSeparator {
  margin: 0 var(--size-xs);
}
.textSeparatorR {
  margin: 0 var(--size-xs) 0 0;
}

.bold {
  font-weight: bold;
}
